.app.light  {
    --bg-color: #efefff;
    --inverted-bg-color: #050532;

    --primary-color: #4700fb;
    --secondary-color: #5d5ded;
    --inverted-primary-color: #049684;
    --inverted-secondary-color: #04ff84;
}